.hero > img {
  width: 80%;
}

body[data-theme="dark"] {
    .suggestion-row > .page-title {
        background: #2d2d2d !important;
        border-color: gray !important;
    }
    .suggestion-content {
        border-color: gray !important;
    }
}
